.superInput {
    background: #ffd9cc;
    margin: 10px;
    color: #1004ff;
    border-color: #1004ff;

}

.errorInput {
    background: #ffd9cc;
    margin: 10px;
    color: #1004ff;
    border: 3px solid #7475ff;
}

.error {
    color: red;
    font-family: Georgia;
    height: 15px;
    margin-left: 5px;
}

.input:focus{
   outline: none;
    border: 3px solid #7475ff;
}