
.header{
    display: flex;
    width: 300px;
    transition-duration: 500ms;
    transform: translate(-230px);
}

.header:hover{
    transition-duration: 500ms;
    transform: translate(0px);
}

.menu{
    width: 25px;
    height: 20px;
    background: #ff000e;
    margin: 10px;
}

.link{
    color: #001ac2;
    margin: 10px;
    text-decoration: none;
}
.link:hover{
    color: #819ddc;
}